- product = @product
.row.metafields
  .span10.offset1
    %form{action:'/products/metafields' , method: 'post'}
      %input{:name => 'id', :value => product.id, :type => 'hidden'}
      .thumbnail
        %h3= product.vendor + ' ' + product.title + ' - ' + product.id.to_s

      %hr

      #accordion.accordion
        .accordion-group.features
          .accordion-heading
            %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#features"}
              Features

          #features.accordion-body.collapse.in
            .accordion-inner

              %ul.features.unstyled
                - fields = @metafields["features"] || []
                - 8.times do |index|
                  - field = fields.shift || ShopifyAPI::Metafield.new
                  %li
                    %h5 Feature #{index + 1}
                    - defaults = Array(defaults(product.id)['features'][index]) rescue []
                    - feature = field.value.to_s.split('|')
                    - value = feature[0] || defaults[0] # || "#{product.id}_#{index+1}.png"
                    %input{:type =>"text", :name => "metafields[features][feature#{index}][]", :value => value}
                    - value = feature[1] || defaults[1]
                    %input{:type =>"text", :name => "metafields[features][feature#{index}][]", :value => value}
                    - value = feature[2] || defaults[2]
                    %textarea{:name => "metafields[features][feature#{index}][]"}~ value

        / .accordion-group.review
        /   .accordion-heading
        /     %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#review"}
        /       Review

        /   #review.accordion-body.collapse
        /     .accordion-inner
        /       %textarea{:name => "metafields[review][text]"}
        /         - if reviewfields = @metafields["review"]
        /           = reviewfields.first.value


        .accordion-group.accessories
          .accordion-heading
            %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#accessories"}
              Zubehör

          #accessories.accordion-body.collapse
            .accordion-inner
              %ul.accessories.unstyled
                - fields = @metafields["accessories"] || []
                - 3.times do |index|
                  - field = fields.shift || ShopifyAPI::Metafield.new
                  - value = field.value || defaults(product.id)['accessories'][index] rescue nil
                  %li
                    %input{:type =>"text", :name => "metafields[accessories][]", :value => value}

        .accordion-group.fitting
          .accordion-heading
            %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#fitting"}
              Fitting

          #fitting.accordion-body.collapse
            .accordion-inner
              %ul.accessories.unstyled
                - fields = @metafields["fitting"] || []
                - 3.times do |index|
                  - field = fields.shift || ShopifyAPI::Metafield.new
                  - value = field.value || defaults(product.id)['fitting'][index] rescue nil
                  %li
                    %textarea{:name => "metafields[fitting][]"}~ collapse_table(value)

      %button{type: 'submit'}
        Save
