- product = @product
.row.metafields
  .span10.offset1
    %form{action:'/products/metafields' , method: 'post'}
      %input{:name => 'id', :value => product.id, :type => 'hidden'}
      .thumbnail
        %h3= product.vendor + ' ' + product.title + ' - ' + product.id.to_s

      %hr

      #accordion.accordion
        .accordion-group.features
          .accordion-heading
            %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#features"}
              Features

          #features.accordion-body.collapse.in
            .accordion-inner

              %ul.features.unstyled
                - fields = @metafields["features"] || []
                - 8.times do |index|
                  - field = fields.shift || ShopifyAPI::Metafield.new
                  %li
                    %h5 Feature #{index + 1}
                    - feature = field.value.to_s.split('|')
                    %input{:type =>"text", :name => "metafields[features][feature#{index}][]", :value => "#{product.id}_#{index+1}.png"}
                    %input{:type =>"text", :name => "metafields[features][feature#{index}][]", :value => feature[1]}
                    %textarea{:name => "metafields[features][feature#{index}][]"}
                      = feature[2]

        / .accordion-group.review
        /   .accordion-heading
        /     %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#review"}
        /       Review

        /   #review.accordion-body.collapse
        /     .accordion-inner
        /       %textarea{:name => "metafields[review][text]"}
        /         - if reviewfields = @metafields["review"]
        /           = reviewfields.first.value


        .accordion-group.accessories
          .accordion-heading
            %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#accessories"}
              Zubehör

          #accessories.accordion-body.collapse
            .accordion-inner
              %ul.accessories.unstyled
                - fields = @metafields["accessories"] || []
                - 3.times do |index|
                  - field = fields.shift || ShopifyAPI::Metafield.new
                  %li
                    %input{:type =>"text", :name => "metafields[accessories][accessor#{index}]", :value => field.value}

        .accordion-group.fitting
          .accordion-heading
            %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#fitting"}
              Fitting

          #fitting.accordion-body.collapse
            .accordion-inner
              %ul.accessories.unstyled
                - fields = @metafields["fitting"] || []
                - 3.times do |index|
                  - field = fields.shift || ShopifyAPI::Metafield.new
                  %li
                    %textarea{:name => "metafields[fitting][fitting#{index}]"}~ collapse_table(field.value)

      %button{type: 'submit'}
        Save
