<!DOCTYPE html>
<html lang="en">
<head>
  <title>Playmakers App</title>

  <script src="//cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>
  <script type="text/javascript">
    <% if development? %>
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= 'https://' + session[:shopify].url if session[:shopify] %>",
        debug: true
      });
    <% end %>
  </script>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container-fluid">
    <% flash.each do |type, message| %>
      <div class="alert"><%= message %></div>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>

  </div> <!-- /container -->
</body>
</html>
